name: deployment
on: 
 push:
  branches:
    - master
jobs:
 build:
  runs-on: ubuntu-latest
  environment: test
  steps:
  - name: get code
    uses: actions/checkout@v1  
    env:
     MONGODB_USERNAME: ${{ secrets.MONGODB_USERNAME }}
     MONGODB_PASSWD: ${{ secrets.MONGODB_PASSWD }}
     MONGODB_URL: ${{ secrets. MONGODB_URL }}
     url: ${ mongodb+srv://$MONGODB_USERNAME:$MONGODB_PASSWD@$MONGODB_URL/?retryWrites=true&w=majority }
  - name: Run Server
    run: echo $url
  - name: Output information
    run: echo "Connected"
     
   
     
